.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: rgb(36, 143, 201);
  border-radius: 50%;
  margin-bottom: 16px;
}

.icon-svg {
  width: 32px;
  height: 32px;
  color: white;
}
